body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

.half-width {
    width: 50%;
    padding-left: 10%;
    padding-right: 5%;
}

.half-width img {
    padding-left: 20px;
    width: 70%;
}

.orange-color {
    color: #FFAD5A;
}

.header {
    display: flex;
}

.header h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 50px;
}

.header p {
    padding-bottom: 10px;
    padding-top: 10px;
}

.link-button {
    text-decoration: none;
    background-color: #FF5959;
    padding: 10px 30px;
    border-radius: 10px;
    color: #FFFFFF;
}

.mission-head h2 {
    font-size: 40px;
}

.mission-head {
    text-align: center;
    font-weight: bolder;
}

.card-container {
    padding-left: 10%;
    padding-right: 5%;
    display: flex;
}

.card-container p {
    padding-left: 20px;
}

.card-container h3 {
    padding-left: 20px;
}

.card-width {
    height: 360px;
    width: 376px;

    margin-right: 2.5%;
    border-radius: 10px;
}


.card-width img {
    height: 200px;
    width: 200px;
    text-align: left;
}

.mission {
    background-color: #a9dfe6;
}

.Vision {
    background-color: #ff59593f;
    padding-right: 5px;
    padding-left: 5px;
}

.goals {
    background-color: #FFF4D6;
    padding-right: 5px;
    padding-left: 5px;
}

.dev-limits {
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: 60px 150px;
    padding-left: 10%;
    padding-top: 5%;
    display: flex;
}

.dev-limits-img img {
    height: 400px;
    width: 400px;
}

.dev-limits-img {

    width: 30%;


}

.dev-limits-context {
    padding-left: 70px;
    padding-right: 10%;
}

.dev-limits-context h2 {
    font-weight: bolder;
}

.global-community {
    display: flex;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position-x: 1290px;
    background-position-y: 380px;

}

.global-community-img {
    width: 30%;
    padding-right: 10%;
    padding-left: 5%;

}

.global-community-img img {
    height: 400px;
    width: 400px;

}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer h2 {
    font-family: 'Lobster', cursive;
}